<!DOCTYPE html>
<html>
  <head>
<script
 src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous">
</script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 
    
 <div class="container">
<title> Nermin |Flowers Market</title>
</div>
  <nav class="navbar navbar-default">
   
<img class="nermin" src="/assets/nermin.png" alt="nermin logo">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
<form class="navbar-form navbar-right" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" value="✓" type="hidden">
                    <input name="q" id="q" value="" class="form-control" placeholder="search text" type="text">
                    <input name="commit" value="Search" class="btn btn-primary" data-disable-with="Search" type="submit">
</form>   
                <li class="">
                  <a href="../">Home</a>
                </li>
                 <li><a href="../products/">Products</a></li>            
                 <li><%= link_to 'About', static_pages_about_path %></li>
                <li><%= link_to 'Contact', static_pages_contact_path %></li></ul>


 <ul class="nav navbar-nav navbar-right">
              <li>
                  </li>
                <li><a href="/sign_up">Sign up</a></li>
              <li>
                  <a href="/login">Login</a>
              </li>
            </ul>
               </div>
                   </div>

                    
     

 <body>

<%= yield %>


 <!--Footer Section -->
  <div class="footer-container">
      <h4 class="_14">Follow me on</h4>
    <div class="social-icons">
        <li><a href="https://www.facebook.com/NerminMahdi20" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/nerminmahdi" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/nerminmahdi/" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
    </div>
    <p> &copy; Web Development by Nermin M. Mahdi 2017</p>
</div>

  <!--End Footer Section -->


  </body>
</html>
