<!DOCTYPE html>
<html>
  <head>
    <title>Nermin Flowers Market</title>
<script
 src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous">
</script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 

     <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../">Nermin Flowers Market</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
         <li class="active"><a href="../">Home</a></li>
         <li><a href="../products/">Products</a></li>
         <li><%= link_to 'About', static_pages_about_path %></li>
         <li><%= link_to 'Contact', static_pages_contact_path %></li>
          <%= form_with(url: products_path, method:'get', local:true, class: 'navbar-form navbar-right') do |form| %>
          <%= form.text_field :q, id: 'q', value: params[:q], class:'form-control' %>
          <%= form.submit 'Search', class:'btn btn-default' %>
        <% end %>
        </ul>
        <ul class="nav navbar-nav">
<li>
<%= yield %>

</body>
 <!--Footer Section -->
  <div class="footer-container">
    <div class="container">
      <h4 class="_14">Follow me on</h4>
    <ul class="social-icons">
        <li><a href="https://www.facebook.com/NerminMahdi20" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/nerminmahdi" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/nerminmahdi/" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
    </ul>
    <p> &copy; Web Development by Nermin M. Mahdi 2017</p>
  </div>
</div>

  <!--End Footer Section -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
  </body>
</html>
